@import "../base/colores";
@import "../base/maps";
@import "../base/variables";

#main-quienes{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .descripcion{
        .titulo{
            text-align: center;
            background-color:$color-bg;
            min-height: 800px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .focus-in-expand-fwd{
                animation: focus-in-expand-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
                h2{
                    font-family: 'Kaushan Script', cursive;
                    color: rgb(253, 234, 215);
                    font-size: 2.5rem;
                }
                p{
                    font-family: 'Great Vibes', cursive;   
                    color: rgb(253, 234, 215);
                    font-size: 2rem;
                }
            }
            @keyframes focus-in-expand-fwd {
                0% {
                  letter-spacing: -0.5em;
                          transform: translateZ(-800px);
                          filter: blur(12px);
                  opacity: 0;
                }
                100% {
                          transform: translateZ(0);
                          filter: blur(0);
                  opacity: 1;
                }
              }
            .divisor{
                width: 100%;
                height: 34px;
                background: url(../resources/divisor.png);
                background-position: center;
                background-repeat: no-repeat;
                margin: .5rem auto;
            }
        }
        .parallax{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
            min-height: 300px;
            background:url(../resources/parallax.jpg);
            background-color: rgba(0, 0, 0, 0.65);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            position: relative;
            background-blend-mode:overlay;
            margin-bottom: 5rem;
            h3{
                font-family: 'Great Vibes', cursive;   
                color: $color1;
                font-size: 2rem;
                z-index: 1;
            }
            h2{
                font-family: 'Kaushan Script', cursive;
                color: rgb(253, 234, 215);
                font-size: 2.5rem;
                z-index: 1;
            }
        }
        .presentacion{
            background-color: rgba(0, 0, 0, 0.4);
            min-height: 1000px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                padding: 3rem 3rem 1rem 3rem;
                backdrop-filter: blur(3px);
                color: rgb(253, 234, 215);
                border-radius: 15px;
                width: 70%;
                font-family: 'Caveat';
                text-align: center;
                font-size: 2rem;
            }
            h3{
                margin: 2rem auto;
                font-family: 'Great Vibes';   
                color: $color1;
                font-size: 2rem;  
            }
            .boton-parallax{
                margin-top: 10rem;
                padding: 1rem 4rem;
                transition: 2s ease-in;
                margin-bottom: 3rem;
                a{
                    color:rgb(253, 234, 215) ;
                    font-family: 'Bebas neue';
                    font-size: 2rem;
                    text-decoration: none;
                    cursor: pointer;
                    transition: 1s ease-in;
                }
                &:hover{
                    background-color: $color1;
                    padding: 1rem 100%;
                    color: white;
                }
            }
        }
    }
}